<article fxLayout="column" fxLayoutAlign="center center">

	<mat-card>
  	<mat-card-title>
  		<mat-toolbar color="primary" fxLayout="column" fxLayoutAlign="center center">
  				<h2>Login with prefered credenials</h2>
  		</mat-toolbar>
  	</mat-card-title>
    <mat-card-content fxLayout="column">

    		<p>
          <button (click)="auth.login('demo')" fxFlex mat-flat-button [disabled]="auth.$isAuthenticated | async">Demo Identity Server</button>
    		</p>

    		<p>
          <button fxFlex mat-flat-button color="primary" disabled>Google</button>
    		</p>

    		<p>
          <button fxFlex mat-flat-button color="accent" disabled>Facebook</button>
    		</p>

    		<p>
          <button fxFlex mat-flat-button color="warn" disabled>LinkedIn</button>
    		</p>

    		<p *ngIf="auth.$isAuthenticated | async">
          <button (click)="auth.logout()" fxFlex mat-flat-button color="warn">Logout</button>
    		</p>

    		<p *ngIf="!(auth.$isAuthenticated | async)" fxLayoutAlign="center center">You are not logged in</p>
  			<p *ngIf="auth.$isAuthenticated | async" fxLayoutAlign="center center">You are logged in</p>

    </mat-card-content>
  </mat-card>

</article>